In [16]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
userinfo = pd.read_csv('user_info_utf.csv',header=None,names=['userid','sex','birth'])

In [15]:
orderinfo = pd.read_csv('order_info_utf.csv',header=None,names=['orderid','userid','ispaid','price','paidtime'])

In [17]:
conn = create_engine("mysql+pymysql://root:123456@localhost:3306/python?charset=utf8")

In [19]:
#将数据导入到数据库中
#name = table
#con 连接对象
userinfo.to_sql('user_info',conn,index=False)

In [20]:
orderinfo.to_sql('order_info',conn,index=False)

### 统计不同月份下单的人数

#思路：ispaid='已支付'  然后对月份分组  对用户去重

select month(paidtime) as 月份,count(distinct userid) as 用户数量 from order_info where ispaid='已支付' group by 月份;

### 统计三月的复购率

#思路: 月份=3   ispaid='已支付'  在筛选除订单>1
#54799

select concat((count(userid)/54799)*100,'%') from (select month(paidtime) ,userid,count(userid) as uc from order_info where month(paidtime)=3 and ispaid='已支付' group by userid having count(userid)>1) as new;

### 统计三月份的复购率 和 复购用户数

select concat((count(userid)/54799)*100,'%') as 复购率 ,count(userid) as 复购数 from (select month(paidtime) ,userid,count(userid) as uc from order_info where month(paidtime)=3 and ispaid='已支付' group by userid having count(userid)>1) as new;

select concat((count(if(uc>1,1,null))/54799)*100,'%') as 复购率,count(if(uc>1,1,null)) from  (select month(paidtime) ,userid,count(userid) as uc from order_info where month(paidtime)=3 and ispaid='已支付' group by userid) as new;

### 求每个月的购买用户数和复购用户数

#思路:月份必须要分组

select md as 月份,count(if(uc>1,1,null)) as 复购用户数,count(userid) as 每个月的购买数,(concat((count(if(uc>1,1,null))/count(userid))*100,'%')) as 复购率 from (select userid,month(paidtime) as md,count(userid) as uc from order_info where ispaid='已支付' group by month(paidtime),userid) as new group by md;

追加索引：
alter table `order_info` add primary key(`orderid`);
alter table `order_info` modify `orderid` int primary key auto_increment;
alter table `order_info` modify `userid` int;
alter table `order_info` add index `uid`(`userid`);
alter table `order_info` modify `ispaid` char(32);
alter table `order_info` add index `ipd`(`ispaid`); 
alter table `order_info` modify `price` float;
alter table `order_info` add index `pic`(`price`); 
alter table `order_info` modify `paidtime` datetime;
alter table `order_info` add index `pt`(`paidtime`);

userid','sex','birth'


alter table `user_info` modify `userid` int primary key auto_increment;
alter table `user_info` modify `sex` enum('男','女');
alter table `user_info` add index `sex`(`sex`);
alter table `user_info` modify `birth` datetime;
alter table `user_info` add index `bt`(`birth`); 

最常用的索引是普通索引当中的联合索引

用空间换时间

### 回购率  

上个月买过，这个又买了

4月份的回购率

#查询上个月的下单的用户  和 本月对比  54799

select concat((count(distinct userid)/54799)*100,'%') as 回购率  from order_info where ispaid='已支付' and month(paidtime)=4 and userid in (select distinct userid from order_info where ispaid='已支付' and month(paidtime)=3);

### 计算每个月的回购率

#思路 月份要分组 多条sql语句 
#2019-12-01
#2019-12-01

select t1.m as 月份,count(t1.m) as 用户数,count(t2.m) as 回购的用户数,concat((count(t2.m)/count(t1.m))*100,'%') as 回购率 from (select userid,date_format(paidtime,"%Y-%m-01") as m from `order_info` where ispaid='已支付' group by userid,date_format(paidtime,"%Y-%m-01")) as t1
left join
(select userid,date_format(paidtime,"%Y-%m-01") as m from `order_info` where ispaid='已支付' group by userid,date_format(paidtime,"%Y-%m-01")) as t2
on t1.userid=t2.userid and t1.m = date_sub(t2.m,interval 1 month) group by t1.m;

### 统计3个月内男女的消费频率

#性别分组 消费订单的数量

select sex as 性别,avg(ct) as 平均消费次数 from (select s.userid,count(s.userid) as ct,sex from order_info as o  inner join (select * from user_info where sex <> '' and sex is not null) as s on o.userid = s.userid where ispaid='已支付' group by sex,o.userid) as new group by sex;

### 所有人平均消费间隔

select user_id,ftime,ltime,datediff(ltime,ftime) from (select user_id,max(paidtime) as ltime, min(paidtime) as ftime,count(user_id) as uc from orderinfo where ispaid='已支付' group by user_id) as new where uc > 1;

### 环比

select concat((price2-price1)/price2*100,'%') as `环比` from 
    (select price1 from
    (select sum(price) as price1, month(paidtime) as pt from orderinfo 
     where ispaid='已支付' group by month(paidtime)) as new where pt=3) as new1 join (select price2 from
    (select sum(price) as price2, month(paidtime) as pt from orderinfo 
     where ispaid='已支付' group by month(paidtime)) as new where pt=4) as new2;

### 消费二八法

消费top20%  花了多少钱

select user_id,tprice,num from 
    (select user_id, sum(price) as tprice from orderinfo where ispaid='已支付' group by user_id order by tprice desc) as new  
    join 
    (select round(count(*)*0.2) as num from orderinfo) as new1 order by tprice desc limit num;




select tprice,@num:=round(count(user_id)*0.2,0) from (select user_id, sum(price) as tprice from orderinfo where ispaid='已支付' group by user_id order by tprice desc) as new order by tprice desc limit @num;

SELECT  t.* FROM (SELECT @rownum:=0) r join orderinfo t where (@rownum:=@rownum+1)<=(select round(count(*)*0.3) from orderinfo);

select * from (select * from orderinfo order by price desc limit round(n*0.2))tmp order by rand() limit 10;

### 总消费







消除不确定性